.p-access {
  padding: rem(71) 0 rem(80);
  background: $base-color;
  position: relative;
  
  @include mq(tab) {
    padding: rem(69) 0 rem(80);
    
  }


}

.p-access::before {
  content: "";
  display: block;
  width: rem(188);
  height: rem(180);
  background: url(../img/top/bg-pan.png) no-repeat center center/contain;
  position: absolute;
  top: rem(-101);
  right: rem(-35);
  z-index: 10;
  
  @include mq(tab) {
    width: rem(374);
    height: rem(359);
    top: rem(-182);
    right: rem(-68);
    
    
  }

}

.p-access::after {
 
}


.p-access__title {
 text-align: center;
 width: rem(100);
 margin: 0 auto;
 position: relative;
 
 @include mq(tab) {
   width: rem(300);
   
 }
}

.p-access__title::before {
  content: "";
  display: block;
  width: rem(200);
  height: rem(172);
  background: url(../img/top/access-text.png) no-repeat center center/contain;
  position: absolute;
  top: rem(-114);
  left:  rem(-171);
  z-index: 10;
  
  @include mq(tab) {
    width: rem(232);
    height: rem(200);
    top: rem(-119);
    left:  rem(-155);
    
  }

}

.p-access__map {
 margin-top: rem(40);
 
 @include mq(tab) {
 margin-top: rem(39);
   
 }
}