.p-concept {
  position: relative;
  
}

.p-concept::before {
  content: "";
  display: block;
  width: rem(126);
  height: rem(113);
  background: url(../img/top/coffee.png) no-repeat center center/contain;
  position: absolute;
  top: rem(37);
  right: rem(-38);
  transform: translate(-30%,-50%);
  z-index: 10;
  
  @include mq(tab) {
    width: rem(470);
    height: rem(288);
    top: rem(95);
    right: rem(-282);
    
  }

}

.p-concept__body {
  background: linear-gradient(to bottom , transparent 0%, transparent 92%, $base-color 92%, $base-color 100%);
  padding-top: rem(114);
  padding-bottom: rem(68);
  transform: translateX(-20px);
  
  @include mq(tab) {
    display: flex;
    flex-direction: row-reverse;
    padding-top: rem(163);
    padding-bottom: rem(109);
    background: linear-gradient(to bottom , transparent 0%, transparent 70%, $base-color 70%, $base-color 100%);

  }

}

.p-concept__text-body {
 transform: translateX(20px);
 
 @include mq(tab) {
   padding-top: rem(14);
   padding-left: rem(59);
   padding-right: rem(102);
   
 }
}

.p-concept__title {

}

.p-concept__sub-title {
font-size: rem(20);
font-weight: 700;
line-height: 2;
margin-top: rem(33);

@include mq(tab) {
  font-size: rem(28);
  line-height: 2.14;
  margin-top: rem(51);

}

}

.p-concept__text {
font-size: rem(14);
margin-top: rem(31);
line-height: 2;

@include mq(tab) {
  margin-top: rem(48);}

}
.p-concept__text + .p-concept__text {
font-size: rem(14);
margin-top: rem(27);
line-height: 2;
}


.p-concept__btn {
 margin-top: rem(57);
 
}

.p-concept__btn a {
  margin: 0 auto;

  @include mq(tab) {
    margin-right: auto;
    margin-left: 0;
  }
}

.p-concept__img {
  margin-top: rem(85);
  width:  95%;
  position: relative;

  @include mq(tab) {
  margin-top:0;
  width: 100%;
  max-width: rem(595);
}
  
  }
  
  .p-concept__img::before {
    padding-top: 400 / 315 * 100%; //画像縦 / 横
    display: block;
    content: "";
  
  }
  
  .p-concept__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }