.p-lunch-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: rem(-19);
  margin-top: rem(-20);
 }
 
 .p-lunch-cards__item{
 width: calc(50% - #{rem(19) * 2 / 2});
 margin-left: rem(19);
 margin-top: rem(20);
 
 @include mq(tab) {
   width: calc(33% - #{rem(32) * 3 / 3});
    margin-left: rem(32);
 }
 }