.p-sub-news {
}

.p-sub-news__bodies {
  @include mq(tab) {
    display: flex;
  
  }
  
}

.p-sub-news__body{
  width: 100%;

  @include mq(tab) {
    max-width: rem(720);
  }
}

.p-sub-news__title{
 font-size: rem(20);
 font-weight: 700;
 
}

.p-sub-news__body-inner {
  margin-top: rem(40);

}

.p-sub-news__items{
  display: flex;
  flex-wrap: wrap;
  margin-left: rem(-19);
  margin-top: rem(-23);

  @include mq(tab) {
    margin-left: rem(-40);
    margin-right: rem(-40);
  }
 
}

.p-sub-news__item{
  width: calc(50% - #{rem(19) * 2 / 2});
  margin-left: rem(19);
  margin-top: rem(23);
  
  @include mq(tab) {
    width: calc(50% - #{rem(40) * 2 / 2});
    margin-top: rem(40);
    margin-left: rem(40);
  }
}

.p-sub-news__pagination {
  margin-top: rem(50);
  margin-bottom: rem(100);
}