.p-sub-menu-cards {
 display: flex;
 flex-wrap: wrap;
 margin-top: rem(-27);
 margin-left: rem(-11);

 @include mq(tab) {
   margin-top: rem(-40);
   margin-left: rem(-40);
 }
}

.p-sub-menu-cards__item {
  width: calc(50% - #{rem(11)} * 2 / 2);
  margin-top: rem(27);
  margin-left: rem(11);
  
  @include mq(tab) {
    width: calc(25% - #{rem(40)} * 4 / 4);
    margin-top: rem(40);
    margin-left: rem(40);
    
  }

}