.c-btn-tab {
  background: $tab-no-color;
  width: rem(161);
  height: rem(64);
  padding: rem(5);
  transition: all .3s;

  @include mq(tab) {
    width: rem(200);
    height: rem(69);
  
  }
}

.c-btn-tab__link {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
color: #fff;
font-size: rem(16);
font-weight: 700;
border: 1px solid #fff;

}

.is-genre-active {
 background: $main-color;
}
